*{
 	box-sizing: border-box;
 }

 html,body {
	margin: 0;
	padding: 0;
}

.header {
	max-width: 1170px;
	margin: 0 auto;
	
}

.tittle {
	text-align: center;
	font-family: MV Boli;
	padding-top: 20px;
}

.list {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-evenly;
}

.list li {
	list-style: none;
}


.container-satu {
	background-color: #ddd;
	width: 1349px;
	text-align: center; 
	padding: 50px 0;
}
.container-satu p {
	letter-spacing: 1px;
}

.btn {
	background-color: lightblue;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 20px;
}

.container-dua {
	max-width: 1170px;
	margin-left: 100px;
	
}

.container-tiga {
	max-width: 1170px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin:  10px auto;
	
}

.kotak {
	background-color:skyblue;
	padding: 20px 40px;
	margin: 30px 20px;
}

.link {
	color: white;
	text-align: center;
	display: block;

}

.footer {
	max-width: 1170px;
	border-top: 2px solid #ddd;
	margin: 10px auto;
	display: flex;
}

.footer-left {
	flex: 80%;
	padding-left: 100px;

}

.footer-right {
	flex: 10%;
}

.footer-rightdua {
	flex: 10%;
}


li {
	list-style: none;
}

 ul li a {
	text-decoration: none;
	color: grey;
	display: block;
}

.menu {
	display: none;
	float: right;
	color: black;	
}



/* responsive */


@media( max-width: 370px) {

	.list {
		display: none;
	}

	.container-tiga {
		width: 100%;
	}

	.kotak {
		margin-bottom: 5px;
	}

	.footer {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
	}

	.container-satu {
		width: 100%;
		padding: 60px;
	}

	.container-satu p {
		letter-spacing: 2px;
		padding: ;
	}

	.container-dua {
		margin-left: 25px;
	}


}
